@font-face {
  font-family: BebasNeue;
  font-display: swap;
  src: url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: openSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: openSans;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-weight: 400;
  font-family: openSans, sans-serif;
}

body, html {
  height: 100%;
}

.main-swiper-container {
  width: 100% !important;
  padding-top: 0 !important;
}

.main-swiper-container,
.main-swiper-wrapper,
.main-swiper-slide {
  width: 100%;
  height: 100%;
}

.main-swiper-slide {
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-swiper-slide__picture {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.swiper-button-next {
  width: 40px !important;
  color: white !important;
  background-image: url(../img/icons/icons.svg#scrollDown) !important;
  background-repeat: no-repeat !important;
  -webkit-transform: rotate(-90deg) !important;
      -ms-transform: rotate(-90deg) !important;
          transform: rotate(-90deg) !important;
  background-size: cover !important;
  background-position: center !important;
}

.swiper-button-next:after {
  font-size: 0 !important;
}

.second-swiper-container {
  position: absolute;
  top: 50%;
  width: 30% !important;
  max-width: 500px !important;
  left: 80%;
  -webkit-transform: translate(-80%, -50%);
      -ms-transform: translate(-80%, -50%);
          transform: translate(-80%, -50%);
}

.scrollDown {
  width: 30px;
  height: 25px;
}

.title {
  color: white;
  font-size: 80px;
  font-weight: 400;
  font-family: BebasNeue, sans-serif;
  letter-spacing: 3px;
  line-height: 80px;
}

.sub-title {
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: BebasNeue, sans-serif;
  line-height: 24px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.arrowWhite {
  width: 12px;
  height: 8px;
}

.xbox {
  width: 31px;
  height: 31px;
}

.steam {
  width: 31px;
  height: 31px;
}

.main {
  height: 100vh;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.webp .main {
  background-image: url(../img/main-bg.webp);
}

.no-webp .main {
  background-image: url(../img/main-bg.webp);
}

.header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1140px;
  padding: 0 15px;
  height: 100px;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu__element {
  margin-right: 30px;
  font-weight: 700;
  font-family: openSans, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.header-menu__element:last-of-type {
  margin-bottom: 0;
}

.header-menu__link {
  color: white;
}

.site-languages {
  position: relative;
}

.site-languages:hover .site-languages-domestic {
  display: block;
}

.site-languages:after {
  display: block;
  content: '';
  background-color: white;
  height: 30px;
  width: 1px;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  pointer-events: none;
  left: 100%;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
}

.site-languages__element {
  color: white;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-languages__picture {
  margin-top: 5px;
  margin-left: 5px;
}

.site-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-links__link {
  margin-right: 20px;
}

.site-links__link:last-of-type {
  margin-bottom: 0;
}

.main-content {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 15px;
}

.main__title {
  margin-bottom: 10px;
}

.main-content__btn {
  background: -o-linear-gradient(255.32deg, #FFB548 11.27%, #F3AF34 90.4%);
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  padding: 20px 15px;
  color: #1A1917;
  font-size: 16px;
  font-weight: 700;
  font-family: openSans, sans-serif;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.main-content-btn__price {
  position: relative;
  padding-left: 20px;
}

.main-content-btn__price:before {
  height: 100%;
  width: 1px;
  display: block;
  content: '';
  background-color: black;
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: skew(15deg, 0) translate(0, -50%);
      -ms-transform: skew(15deg, 0) translate(0, -50%);
          transform: skew(15deg, 0) translate(0, -50%);
}

.main__sub-title {
  margin-bottom: 30px;
}

.scroll-button {
  position: absolute;
  bottom: 50px;
  color: white;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.scroll-button__icon {
  margin-top: 10px;
  position: relative;
  -webkit-animation: scrool-button-animation 2s infinite;
          animation: scrool-button-animation 2s infinite;
}

@-webkit-keyframes scrool-button-animation {
  from {
    top: 0;
  }
  15% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  to {
    top: 0;
  }
}

@keyframes scrool-button-animation {
  from {
    top: 0;
  }
  15% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  to {
    top: 0;
  }
}

.site-languages-domestic {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
  padding: 5px 20px 1px 5px;
}

.site-languages-domestic__element {
  color: white;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  cursor: pointer;
}

.site-languages-domestic__element:hover {
  color: #FFB548;
}

.site-languages-domestic__element:last-of-type {
  margin-bottom: 0;
}

.hamburger {
  display: none;
}

.swiper-pagination-bullet {
  background: transparent;
  width: 14px;
  height: 14px;
  border: 1px solid white;
}

.hamburger-menu_active {
  -webkit-box-shadow: 0 0 100px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 100px 1px rgba(255, 255, 255, 0.5);
  border-radius: 15%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.5s;
       -o-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.hamburger-menu_active .hamburger-menu__element {
  background-color: white;
}

.hamburger-menu_active .hamburger-menu__element:first-of-type {
  margin-bottom: -3px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu_active .hamburger-menu__element:nth-of-type(2) {
  display: none;
}

.hamburger-menu_active .hamburger-menu__element:last-of-type {
  -webkit-transform: scaleX(1) rotate(-45deg) !important;
      -ms-transform: scaleX(1) rotate(-45deg) !important;
          transform: scaleX(1) rotate(-45deg) !important;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}

.hamburger-opened-menu {
  position: fixed;
  top: 0;
  left: -100%;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  height: 100vh;
  background: black;
  width: 100%;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.hamburger-opened-menu_active {
  left: 0;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.hamburger-opened-menu__element {
  font-size: 19px;
  opacity: 0;
  font-weight: 600;
  margin-right: 65px;
  margin-bottom: 25px;
}

.hamburger-opened-menu__element:last-of-type {
  margin-bottom: 0;
}

.hamburger-opened-menu__link {
  color: white;
}

section {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.webp .what-is-sos {
  background-image: url(../img/what-is-sos__bg.webp);
}

.no-webp .what-is-sos {
  background-image: url(../img/what-is-sos__bg.jpg);
}

.webp .features {
  background-image: url(../img/features-bg.webp);
}

.no-webp .features {
  background-image: url(../img/features-bg.jpg);
}

.hamburger-menu {
  position: relative;
  z-index: 101;
  cursor: pointer;
}

.hamburger-menu__element {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  background-color: #FFFFFF;
  margin-bottom: 5px;
  display: block;
  height: 3px;
  border-radius: 3px;
  width: 25px;
}

.hamburger-menu__element:last-of-type {
  margin-bottom: 0;
  -webkit-transform: scaleX(0.7);
      -ms-transform: scaleX(0.7);
          transform: scaleX(0.7);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}

.header__hamburger-menu {
  padding: 20px;
  margin-right: -20px;
}

.inner {
  padding: 250px 0 0 120px;
  position: relative;
  z-index: 2;
}

.what-is-sos__sub-title {
  margin-bottom: 10px;
}

.what-is-sos__title {
  position: relative;
  margin-bottom: 70px;
}

.what-is-sos__title:after {
  position: absolute;
  margin-top: 10px;
  background-color: white;
  border-radius: 4px;
  width: 50%;
  height: 3px;
  z-index: 2;
  display: block;
  content: '';
}

.what-is-sos__description {
  font-weight: 400;
  font-family: openSans,sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin-left: 220px;
  width: 36%;
  max-width: 360px;
}

.what-is-sos__description-line {
  position: relative;
  white-space: nowrap;
}

.what-is-sos__description-line:after {
  width: 100%;
  height: 6px;
  background-color: rgba(255, 181, 72, 0.8);
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -85%);
      -ms-transform: translate(-50%, -85%);
          transform: translate(-50%, -85%);
  top: 85%;
}

.what-is-sos {
  position: relative;
}

.slider {
  position: absolute;
  width: 50%;
  left: 80%;
  top: 60%;
  -webkit-transform: translate(-80%, -60%);
      -ms-transform: translate(-80%, -60%);
          transform: translate(-80%, -60%);
}

.swiper-slide {
  color: red;
  height: 600px;
}

.swiper-container {
  padding-top: 20px;
  width: 550px;
}

.slider__picture {
  height: 600px;
  position: absolute;
  left: 0;
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

.features {
  position: relative;
}

.features__inner {
  position: absolute;
  width: 450px;
  left: 80%;
  top: 50%;
  -webkit-transform: translate(-80%, -50%);
      -ms-transform: translate(-80%, -50%);
          transform: translate(-80%, -50%);
}

.features__sub-title {
  margin-bottom: 20px;
}

.features__title {
  margin-bottom: 70px;
}

.features-item__headline {
  color: #FFB548;
  font-size: 36px;
  line-height: 38px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Bebas Neue";
}

.features__item {
  margin-bottom: 30px;
  position: relative;
  margin-left: 30px;
}

.features__item:before {
  position: absolute;
  display: block;
  content: '';
  width: 14px;
  height: 14px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  background: transparent;
  border: 1px solid white;
  margin-left: -30px;
}

.features__item:last-of-type {
  margin-bottom: 0;
}

.features__item:first-of-type:before {
  background-color: white;
}

.features-item__text {
  color: white;
  font-size: 18px;
  margin-top: 5px;
  line-height: 22px;
  font-weight: 400;
  font-family: openSans, sans-serif;
}

.webp .req {
  background-image: url(../img/req-bg.webp);
}

.no-webp .req {
  background-image: url(../img/req-bg.jpg);
}

.req__sub-title {
  margin-bottom: 10px;
  text-align: center;
  padding-top: 150px;
}

.req__title {
  text-align: center;
}

.req__inner {
  margin-top: 130px;
  margin-left: 120px;
  max-width: 570px;
  width: 70%;
}

.row__title {
  color: #FFB548;
  font-size: 24px;
  font-weight: 400;
  font-family: "Bebas Neue";
  line-height: 24px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border: 1px solid #979797;
  padding: 14px 16px 40px 16px;
}

.row__text {
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-family: openSans, sans-serif;
}

.row:last-of-type {
  overflow: hidden;
  position: relative;
}

.row:last-of-type:after {
  position: absolute;
  display: block;
  content: '';
  border: 1px solid #979797;
  width: 50px;
  height: 5px;
  top: 100%;
  left: 20%;
  -webkit-transform: translate(-20%, -100%) skew(310deg, 0);
      -ms-transform: translate(-20%, -100%) skew(310deg, 0);
          transform: translate(-20%, -100%) skew(310deg, 0);
}

.quotes {
  position: relative;
}

.quotes:after {
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  content: '';
}

.twitter {
  width: 19px;
  height: 15px;
}

.webp .quotes {
  background-image: url(../img/quotes__bg.webp);
}

.no-webp .quotes {
  background-image: url(../img/quotes__bg.jpg);
}

.quotes__text {
  font-size: 18px;
  color: white;
  margin-bottom: 40px;
  font-weight: 400;
  font-family: openSans, sans-serif;
}

.quotes__inner {
  padding: 300px 0 0 120px;
  position: absolute;
  z-index: 2;
}

.quotes__title {
  margin-bottom: 15px;
}

.quotes__btn {
  background: -o-linear-gradient(255.32deg, #FFB548 11.27%, #F3AF34 90.4%);
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  padding: 20px 30px;
  color: #1A1917;
  font-weight: 700;
  font-family: openSans, sans-serif;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.quotes-quote {
  position: relative;
  margin-bottom: 20px;
  width: 450px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 14px 15px 20px 15px;
}

.quotes-quote:last-of-type {
  margin-bottom: 0;
}

.quote__picture {
  border-radius: 50%;
  height: 65px;
  width: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 5px;
}

.quote__job {
  font-size: 18px;
  font-weight: 400;
  font-family: openSans, sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

.quote__text {
  color: white;
  font-size: 18px;
  font-family: openSans, sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

.quote__date {
  font-size: 14px;
  font-weight: 400;
  font-family: openSans, sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

.quote__icon {
  background-color: #FFB548;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  display: inline-block;
}

.quote__name {
  color: #FFB548;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Bebas Neue";
}

.quote__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.quote__user-inf {
  margin-left: 30px;
}

.quote__social {
  position: absolute;
  top: 14px;
  left: 90%;
  -webkit-transform: translate(-90%, 0);
      -ms-transform: translate(-90%, 0);
          transform: translate(-90%, 0);
}

.quotes-quote_second {
  position: relative;
  right: 130px;
}

.quotes-quote_third {
  position: relative;
  right: 50px;
}

.quote__user-info {
  margin-left: 30px;
}

.subscribe {
  background-color: #08090B;
}

.subscribe__text {
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  font-family: openSans, sans-serif;
  margin-bottom: 50px;
}

.subscribe__btn {
  background: -o-linear-gradient(255.32deg, #FFB548 11.27%, #F3AF34 90.4%);
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  padding: 20px 70px;
  font-weight: 700;
  font-family: openSans, sans-serif;
  font-size: 16px;
  color: #1A1917;
  outline: none;
  cursor: pointer;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 95%;
  -webkit-transform: translate(-50%, -95%);
      -ms-transform: translate(-50%, -95%);
          transform: translate(-50%, -95%);
  max-width: 1140px;
  padding: 0 15px;
  left: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facebook {
  width: 10px;
  height: 20px;
}

.twitch {
  width: 20px;
  height: 19px;
}

.subscribe__input {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  margin-right: 20px;
  outline: none;
  padding: 20px 20px 20px 20px;
  color: #FFB548;
  font-size: 18px;
  font-weight: 400;
  font-family: openSans, sans-serif;
}

label {
  position: relative;
}

.subscribe__input-description {
  color: rgba(255, 255, 255, 0.5);
  top: -20px;
  font-size: 12px;
  font-weight: 400;
  font-family: openSans, sans-serif;
  position: absolute;
  left: 20px;
}

.subscribe {
  position: relative;
}

.subscribe__bg {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translate(-20%, -50%);
      -ms-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.what-is-sos__picture {
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 85%;
  -webkit-transform: translate(-80%, -50%);
      -ms-transform: translate(-80%, -50%);
          transform: translate(-80%, -50%);
  height: 50%;
  width: 35%;
}

.what-is-sos-picture:after {
  position: absolute;
  top: 50%;
  left: 85%;
  -webkit-transform: translate(-80%, -50%);
      -ms-transform: translate(-80%, -50%);
          transform: translate(-80%, -50%);
  background-color: rgba(9, 9, 9, 0.7);
  border-radius: 25px;
  display: block;
  content: '';
  height: 50%;
  width: 35%;
}

.subscribe-main {
  position: absolute;
  left: 85%;
  top: 50%;
  -webkit-transform: translate(-85%, -50%);
      -ms-transform: translate(-85%, -50%);
          transform: translate(-85%, -50%);
  width: 600px;
}

.subscribe__title {
  margin-bottom: 20px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav__element {
  margin-right: 30px;
  font-size: 12px;
  font-weight: 700;
  font-family: openSans, sans-serif;
}

.footer-nav__element:last-of-type {
  margin-right: 0;
}

.footer-nav__link {
  color: white;
}

.social-links__element {
  margin-right: 60px;
}

.social-links__element:last-of-type {
  margin-right: 0;
}

.quote-domestic-container {
  position: absolute;
  top: 50%;
  left: 85%;
  -webkit-transform: translate(-85%, -50%);
      -ms-transform: translate(-85%, -50%);
          transform: translate(-85%, -50%);
  z-index: 3;
}

@media screen and (max-width: 1250px) {
  .title {
    font-size: 70px;
    line-height: 70px;
  }
  .sub-title {
    font-size: 22px;
    line-height: 22px;
  }
  .inner {
    padding: 220px 0 0 100px;
  }
  .what-is-sos__picture {
    top: 95%;
    -webkit-transform: translate(-50%, -95%);
        -ms-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    left: 50%;
    height: 25%;
    width: 45%;
  }
  .what-is-sos-picture:after {
    top: 95%;
    -webkit-transform: translate(-50%, -95%);
        -ms-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    left: 50%;
    height: 25%;
    width: 45%;
  }
  .features-item__headline {
    font-size: 33px;
    line-height: 33px;
  }
  .features-item__text {
    font-size: 16px;
    line-height: 18px;
  }
  .quote__name {
    font-size: 22px;
  }
  .quote__job {
    font-size: 16px;
  }
  .quote__picture {
    width: 55px;
    height: 55px;
  }
  .quote__icon {
    width: 55px;
    height: 55px;
  }
  .quote__inner-container {
    margin-bottom: 20px;
  }
  .quote__text {
    font-size: 16px;
  }
  .quote__date {
    font-size: 12px;
  }
  .quotes-quote {
    width: 280px;
  }
  .quote-domestic-container {
    left: 95%;
    -webkit-transform: translate(-95%, -50%);
        -ms-transform: translate(-95%, -50%);
            transform: translate(-95%, -50%);
  }
  .quotes__inner {
    padding: 270px 110px;
  }
}

@media screen and (max-width: 992px) {
  .header-menu__element {
    margin-right: 20px;
    font-size: 12px;
  }
  .header-logo__element {
    width: 45px;
    height: 45px;
  }
  .site-links {
    display: none;
  }
  .site-languages {
    margin-right: 20px;
  }
  .title {
    font-size: 60px;
    line-height: 60px;
  }
  .sub-title {
    font-size: 18px;
    line-height: 18px;
  }
  .main-content__btn {
    font-size: 14px;
    padding: 17px 13px;
  }
  .main-content-btn__price:before {
    height: 80%;
  }
  .what-is-sos__description {
    font-size: 15px;
    margin-left: 150px;
  }
  .inner {
    padding: 190px 0 0 90px;
  }
  .what-is-sos__picture {
    top: 95%;
    -webkit-transform: translate(-50%, -95%);
        -ms-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    left: 50%;
    height: 30%;
    width: 50%;
  }
  .what-is-sos-picture:after {
    top: 95%;
    -webkit-transform: translate(-50%, -95%);
        -ms-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    left: 50%;
    height: 30%;
    width: 50%;
  }
  .features-item__headline {
    font-size: 28px;
    line-height: 28px;
  }
  .features-item__text {
    font-size: 14px;
    line-height: 16px;
  }
  .features__inner {
    left: 95%;
    -webkit-transform: translate(-95%, -50%);
        -ms-transform: translate(-95%, -50%);
            transform: translate(-95%, -50%);
  }
  .row__title {
    font-size: 20px;
    line-height: 20px;
  }
  .row__text {
    font-size: 16px;
    line-height: 18px;
  }
  .quote-domestic-container {
    left: 50%;
    top: 95%;
    -webkit-transform: translate(-50%, -95%);
        -ms-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 20px;
  }
  .quotes-quote {
    right: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 32%;
            flex: 0 1 32%;
  }
  .quotes-quote:last-of-type {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .quote__social {
    display: none;
  }
  .quotes__inner {
    padding: 100px 70px;
  }
  .quote__name {
    font-size: 18px;
  }
  .quote__job {
    font-size: 14px;
  }
  .quote__text {
    font-size: 14px;
  }
  .subscribe__text {
    font-size: 16px;
  }
  .subscribe__btn {
    padding: 17px 50px;
    font-size: 14px;
  }
  .subscribe__input {
    font-size: 16px;
  }
  .subscribe-main {
    width: 500px;
  }
  .social-links__element {
    margin-right: 30px;
  }
  .footer-nav__element {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header-menu {
    display: none;
  }
  .hamburger {
    display: block;
    margin-right: 5px;
  }
  .site-languages {
    margin-left: auto;
  }
  .site-languages__element {
    font-size: 13px;
  }
  .site-languages-domestic__element {
    font-size: 18px;
  }
  .title {
    font-size: 45px;
    line-height: 45px;
  }
  .sub-title {
    font-size: 14px;
    line-height: 14px;
  }
  .main-content__btn {
    font-size: 14px;
    padding: 15px 11px;
  }
  .main-content-btn__price:before {
    height: 80%;
  }
  .inner {
    padding: 50px 0 0 35px;
  }
  .what-is-sos__description {
    font-size: 13px;
    margin-left: 110px;
    width: 45%;
  }
  .what-is-sos__title {
    margin-bottom: 50px;
  }
  .what-is-sos__title:after {
    width: 100%;
    margin-top: 15px;
  }
  .what-is-sos__description-line:after {
    height: 4px;
  }
  .what-is-sos__picture {
    top: 95%;
    -webkit-transform: translate(-50%, -95%);
        -ms-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    left: 50%;
    height: 40%;
    width: 80%;
  }
  .what-is-sos-picture:after {
    top: 95%;
    -webkit-transform: translate(-50%, -95%);
        -ms-transform: translate(-50%, -95%);
            transform: translate(-50%, -95%);
    left: 50%;
    height: 40%;
    width: 80%;
  }
  .features__inner {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: auto;
  }
  .quotes__text {
    font-size: 13px;
  }
  .quotes__btn {
    font-size: 10px;
    padding: 17px 25px;
  }
  .quote-domestic-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .quotes-quote {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .footer-nav {
    display: none;
  }
  .social-links {
    display: none;
  }
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe-main {
    width: 100%;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0 30px;
  }
  .subscribe__btn {
    font-size: 12px;
    padding: 15px 40px;
  }
  .subscribe__input {
    font-size: 14px;
    padding-top: 25px;
  }
  .subscribe__text {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 596px) {
  .title {
    font-size: 32px;
    line-height: 32px;
  }
  .sub-title {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
  }
  .main-content__btn {
    font-size: 12px;
    padding: 12px 5px;
  }
  .scroll-button {
    left: 16px;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .what-is-sos__description {
    font-size: 11px;
    margin-top: 0;
    margin-left: 30px;
    width: 70%;
  }
  .what-is-sos__title {
    margin-bottom: 40px;
  }
  .req__inner {
    margin-top: 70px;
    margin-left: 20px;
    width: 80%;
  }
  .quote-domestic-container {
    padding-right: 0;
  }
  .quotes-quote {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    text-align: center;
    padding: 10px 10px 15px 10px;
    margin-right: 0;
  }
  .quote__name {
    font-size: 15px;
  }
  .quote__job {
    font-size: 12px;
  }
  .quote__inner-container {
    margin-bottom: 10px;
  }
  .quote__user-info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-left: 0;
  }
  .quote__text {
    font-size: 11px;
  }
  .quote__date {
    font-size: 9px;
  }
  .quote__icon {
    display: none;
  }
  .subscribe__input {
    margin-bottom: 20px;
  }
}
